body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.lst {
  list-style: none;
}

.rate,
.date {
  color: white;
  margin-left: 10px;
}

.allready-list__relative-a:hover .allready-list__servers-a,
.waiting-list__relative-b:hover .waiting-list__servers-b,
.soon-list__relative-c:hover .soon-list__servers-c {
  display: block;
}

.header {
  max-width: 1600px;
  background-color: #2f303a;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-list__item {
  list-style-type: none;
}
.nav-list__item:not(:last-child) {
  margin-right: 30px;
}
.nav-list__link {
  text-decoration: none;
  color: blanchedalmond;
}

.logo {
  color: blueviolet;
  align-items: center;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.main {
  max-width: 1600px;
  min-height: 600px;
  margin: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/body.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.allready-teg {
  text-align: center;
  padding-bottom: 33px;
  color: greenyellow;
}

.waiting-teg {
  text-align: center;
  padding-bottom: 33px;
  color: yellow;
}

.soon-teg {
  text-align: center;
  padding-bottom: 33px;
  color: aqua;
}

.wrap {
  display: flex;
  justify-content: left;
  padding-top: 90px;
  padding-bottom: 90px;
}

.allready-list__name {
  font-weight: 700;
  text-transform: uppercase;
  color: aqua;
}
.allready-list__relative-a {
  position: relative;
  cursor: pointer;
}
.allready-list__servers-a {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.allready-list__button {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  color: yellow;
  background-color: grey;
}

.first-buttons {
  margin-left: 15px;
}

.waiting-list__button {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: grey;
}
.waiting-list__name {
  font-weight: 700;
  text-transform: uppercase;
  color: yellow;
}
.waiting-list__relative-b {
  position: relative;
  cursor: pointer;
}
.waiting-list__servers-b {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.soon-list__button {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: grey;
}
.soon-list__name {
  font-weight: 700;
  text-transform: uppercase;
  color: greenyellow;
}
.soon-list__relative-c {
  position: relative;
  cursor: pointer;
}
.soon-list__servers-c {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer {
  max-width: 1600px;
  background-color: #2f303a;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
.footer__teg {
  font-weight: 700;
  color: white;
}
.footer__text {
  font-weight: 400;
  color: white;
}

.team-icons {
  display: flex;
  list-style-type: none;
  margin-left: 32px;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}
.team-icons__social-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: white;
  background-color: grey;
}
.team-icons__social-link:hover, .team-icons__social-link:focus {
  background-color: #2196f3;
  color: white;
}
.team-icons__item:not(:last-child) {
  margin-right: 10px;
}
.team-icons__icon {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */