:root {
  --main-bcg: white;
  --header-bcg: blue;
  --footer-bcg: tomato;
  --button-color: yellow;
  --button-bcg: green;
  --accent-color: #2196f3;
  --caubic: cubic-bezier(0.4, 0, 0.2, 1);
  --wait: 250ms;
  --footer-bcg: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/body.jpg);
  background-color: var(--hero-bcg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  color: white;
  align-items: center;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* nav */
.nav-list {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: 0;
}
.nav-items {
  margin-right: 30px;
}
/* tegs */
.allready-teg {
  text-align: center;
  padding-bottom: 33px;
  color: greenyellow;
}
.waiting-teg {
  text-align: center;
  padding-bottom: 33px;
  color: yellow;
}
.soon-teg {
  text-align: center;
  padding-bottom: 33px;
  color: aqua;
}
/* btns */
.allready {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  color: var(--button-color);
  background-color: grey;
}
.allready-list,
.waiting-list,
.soon-list {
  list-style-type: none;
}

.allready:hover,
.allready:focus {
  color: white;
  background-color: var(--accent-color);
}

.waiting {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: grey;
}
.waiting:hover,
.waiting:focus {
  background-color: var(--accent-color);
}
.waiting-soon {
  width: 300px;
  height: 50px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: grey;
  cursor: pointer;
}
.waiting-soon:hover,
.waiting-soon:focus {
  color: white;
  background-color: var(--accent-color);
}
.wrap {
  display: flex;
}
/* rate */
.rate,
.date {
  color: white;
  margin-left: 10px;
}
.name-allready {
  font-weight: 700;
  text-transform: uppercase;
  color: green;
}
.name-waiting {
  font-weight: 700;
  text-transform: uppercase;
  color: yellow;
}
.name-soon {
  font-weight: 700;
  text-transform: uppercase;
  color: aqua;
}
/* social */
.social-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: white;
  background-color: grey;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: white;
}
/* social-icons */
.team-bcg:not(:last-child) {
  margin-right: 10px;
}
.team-icon {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: currentColor;
}
.team-icons {
  display: flex;
  list-style-type: none;
  margin-left: 32px;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}
/* footer */
.footer-teg {
  font-weight: 700;
  color: white;
}
.footer-text {
  font-weight: 400;
  color: white;
}
/*  server description */
