.header {
    @media screen and (min-width:320px) {
        width: 100vw;

    }

    @media screen and (min-width:1200px) {
        max-width: 1600px;
        padding: 45px;
    }

    background-color: #2f303a;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.nav-list {
    @media screen and (min-width:320px) {
        display: none;
    }

    @media screen and (min-width:1200px) {

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__item {
        list-style-type: none;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

}

.logo {
    color: blueviolet;
    align-items: center;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-decoration: none;
}